@import url(../core/reset.css);

body{
    margin: 25px;
    background-color: var(--color-bg-primary);
}
header nav{
    display: flex;
    justify-content: space-between;
}
#menu-toggle {
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }

/* Main */
/* about */
#about{
    background: url(../../img/about/mobile/image-hero-whitecup.jpg) center / cover no-repeat;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: var(--color-primary-text);
    margin: 45px 0px 45px 0px;

    border-radius: 15px;
}
#about div{
    width: 60%;
}
#about h1{
    font-size: 3.1em;
    font-weight: var(--fw-black);
    margin: 20px 0px 20px 0px;
}
#about p{
    font-family: "Barlow"
}